@page "{contextKey}"
@using Microsoft.AspNetCore.Authorization
@model DetailsModel
@attribute [Authorize]

@{
    ViewData["Title"] = @Model.Context.Name;
}

<h1>@Model.Context.Name</h1>

<p>@Model.Context.Description</p>

<a asp-page="/MyContexts/Edit" asp-route-ContextKey="@Model.Context.ContextKey"><input type="button" class="btn btn-primary" value="Edit"/></a>

<table class="table">
    @foreach (var item in @Model.Context.Items)
    {
        <tr>
            <td>@item.Label</td>
            <td>@item.ItemType</td>
        </tr>
    }
</table>

<a asp-page="/MyItems/Create" asp-route-ContextKey="@Model.Context.ContextKey"><input type="button" class="btn" value="Add Item"/></a>
