@page
@using Microsoft.AspNetCore.Authorization
@model UserDashboardModel
@attribute [Authorize]

@{
    ViewData["Title"] = "Dashboard of " + @Model.UserName;
}

<h1>@Model.UserName Dashboard</h1>

<h2>Owned contexts</h2>
<dl>
    @foreach(var context in Model.Contexts)
    {
        <dt><a asp-page="/MyContexts/Details" asp-route-ContextKey="@context.ContextKey">@context.Name</a></dt>
        <dd>@context.Description</dd>
    }
</dl>
