@page "{ownerUserName}/{contextKey}"
@model ContextModel

@{
    ViewData["Title"] = @Model.Context.Name;
}

<h1>@Model.Context.Name by @Model.Context.OwnerUserName</h1>

<p>@Model.Context.Description</p>

<div id="graph"></div>

@if (@Model.OwnedByCurrentUser)
{
    
}

@section Scripts {
    <script type="text/javascript">
        d3.select("#graph")
            .graphviz()
            .renderDot('@Html.Raw(Model.ContextGraphviz)')
            .logEvents(true);
    </script>
}