@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h2>Contexts</h2>
    @foreach (var context in @Model.Contexts)
    {
        <p><a asp-page="/Context" asp-route-ownerUserName="@context.OwnerUserName" asp-route-contextKey="@context.ContextKey"><b>@context.Name</b></a> - @context.Description</p>
    }
</div>